extends layout

block content
  div.site-wrapper
    div.site-wrapper-inner
      div#home.container
        div.margin-bottom-10px
          button.play(class="btn btn-play btn-home" type="button")
            i(class="fa fa-user")
            h4.inline-block &nbsp;&nbsp;Play
        div.margin-bottom-10px
          button.play-online(class="btn btn-play-online btn-home" type="button")
            i(class="fa fa-users")
            h4.inline-block &nbsp;&nbsp;Play Online
        div
          button.leaderboard(class="btn btn-leaderboard btn-home" type="button")
            i(class="fa fa-list-ol")
            h4.inline-block &nbsp;&nbsp;Leaderboard
      div#game.container
        div#head-container
          div#points-container
            h6 Points
            h4#points
          div#best-points-container
            h6 Best Points
            h4#best-points 0 pts
          div#count-container
            h6 Countdown
            h4#count 60s
        div#input.typing
        div#scrambled
      div#online-game.container
        div#clients.hidden-xs.col-sm-6
          div.panel.panel-default.player#player1
            div.panel-heading Player 1
            div.panel-body
              Panel content
          div.panel.panel-default.player#player1
            div.panel-heading Player 2
            div.panel-body
              Panel content
          div.panel.panel-default.player#player1
            div.panel-heading Player 3
            div.panel-body
              Panel content
        div#mygame.col-xs-12.col-sm-6
          div
          div
            button(id="multi-start" class="btn btn-success" type="button") Start
      div#bottom-menu
        div.play.inline-block.btn-bottom
          i(class="fa fa-user fa-2x")
          h5 Play
        div.play-online.inline-block.btn-bottom
          i(class="fa fa-users fa-2x")
          h5 Play Online
        div.leaderboard.inline-block.btn-bottom
          i(class="fa fa-list-ol fa-2x")
          h5 Leaderboard
  script.
    var scramble = new Scramble();
