doctype html
html
  meta(name="viewport" content="width=device-width, initial-scale=1")
  head
    title Scramble
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700')
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/animation.css")
    script(type="text/javascript", src="//code.jquery.com/jquery-1.11.3.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/scramble.js")
  body
    block content