
@media (max-width: 400px){
	#head-container h4,
	#head-container h6{
		font-size: 80%;
	}
	.character{
		font-size: 24px;
	}

	.character,
	.input,
	.input:after{
		height:49px;
	}
	.character,
	.input:after{
		width:30px;
	}
}

@media (min-width: 400px) and (max-width: 600px){
	#head-container h4,
	#head-container h6{
		font-size: 90%;
	}
	.character{
		font-size: 30px;
	}
	.character,
	.input,
	.input:after{
		height:65px;
	}
	.character,
	.input:after{
		width:42px;
	}
}

@media (min-width: 600px) and (max-width: 800px){
	.character{
		font-size: 48px;
	}
	.character,
	.input,
	.input:after{
		height:89px;
	}
	.character,
	.input:after{
		width:55px;
	}
}

@media (min-width: 800px){
	#head-container h4,
	#head-container h6{
		font-size: 120%;
	}
	#mygame .character{
		font-size: 30px;
	}
	#mygame .character,
	#mygame .input,
	#mygame .input:after{
		height:65px;
	}
	#mygame .character,
	#mygame .input:after{
		width:42px;
	}

	.character{
		font-size: 70px;
	}
	.character,
	.input,
	.input:after{
		height:121px;
	}
	.character,
	.input:after{
		width:75px;
	}
}

@media (max-width: 800px){
	#mygame .character{
		font-size: 24px;
	}
	#mygame .character,
	#mygame .input,
	#mygame .input:after{
		height:49px;
	}
	#mygame .character,
	#mygame .input:after{
		width:30px;
	}
}

@media (min-width: 800px) and (max-width: 1100px){
	#mygame .character{
		font-size: 24px;
	}
	#mygame .character,
	#mygame .input,
	#mygame .input:after{
		height:49px;
	}
	#mygame .character,
	#mygame .input:after{
		width:30px;
	}	
}