html{
	height:100%;
}
body{
	background-color: #E3CDA4;
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

a{
	color: #00B7FF;
}

h1,h4{
	font-weight: bold;
}

.inline-block{
	display: inline-block;
}

.site-wrapper{
	display: table;
	width: 100%;
	height: 100%;
}

.site-wrapper-inner{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	overflow: hidden;
}

.flash {
  animation: flash 1s;
  -webkit-animation: flash 1s;
}

.hinge{
	animation: hinge 1.0s;
	-webkit-animation: hinge 1.0s;
}

.bounceInUp{
	animation: bounceInUp 1.0s;
	-webkit-animation: bounceInUp 1.0s;
}

.container{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#single-player{
	margin-right: 20px;
}

#single-player:hover,
#multi-player:hover{
	animation: tada 1s;
	-webkit-animation: tada 1s;
	color:#B64926;
	cursor:pointer;
}

#difficulty-level{
	display: none;
}

#game{
	display: none;
}

#input{
	display:inline-block;
	margin-bottom: 20px;
}

#timer{
	position:fixed;
	top:10px;
	right:30px;
}

#count{
	font-weight: bolder;
}

.alert{
	padding:0px;
	color:#8E2800;
	font-size:54px;
}

#points{
	position:fixed;
	top:10px;
	width:300px;
	left:50%;
	margin-left: -150px;
	text-align: center;
	font-weight: bolder;
}

.correct{
	animation: zoomOutDown 1.0s;
	-webkit-animation: zoomOutDown 1.0s;
}

#input .character{
	color:#fff;
	background:#E6B26E;
	border-color:#A6804F;
	border-width: 3px;
}

#input .character:hover{
	background:#674F31;
	border-color:#000000;
}

#scrambled .character{
	color:#fff;
	background:#E6B26E;
	border-color:#A6804F;
	border-width: 3px;
}

#scrambled .character:hover{
	background:#674F31;
	border-color:#000000;
}

.correct .character{
	-webkit-transition: background 0.5s, border-color 0.5s; /* Safari */
	transition: background 0.5s, border-color 0.5s;
	background:#5C832F !important;
	border-color:#284907 !important;
}

.typing:after{
	content:" ";
	display:inline-block;
	margin: 0 2px 0 2px;
	border-bottom: thick solid #000000;
	vertical-align: bottom;
    animation-delay: 1.2s;
	animation: blink 1.1s steps(2, start) infinite;
	-webkit-animation-delay: 1.2s;
	-webkit-animation: blink 1.1s steps(2, start) infinite;

}

.character{
	margin: 0 2px 0 2px;
	padding:0px;
	font-weight: bold;
}	

.wrong{
	animation: wobble 1s;
	-webkit-animation: wobble 1s;
}

#input.character{
	animation: bounceInDown 0.5s !important;
	-webkit-animation: bounceInDown 0.5s !important;
}

.input-character{
	display:inline-block;
	margin: 0 2px 0 2px;
	border-bottom: thick solid #8E2800;
}

.input-character.active{
	vertical-align: bottom;
    animation-delay: 1.2s;
	animation: blink 1.1s steps(2, start) infinite;
	-webkit-animation-delay: 1.2s;
	-webkit-animation: blink 1.1s steps(2, start) infinite;
}

@media (max-width: 400px){
	.character{
		font-size: 24px;
	}
	.character,
	#input,
	#input:after{
		height:49px;
	}
	.character,
	#input:after{
		width:30px;
	}
}

@media (min-width: 400px) and (max-width: 600px){
	.character{
		font-size: 30px;
	}
	.character,
	#input,
	#input:after{
		height:65px;
	}
	.character,
	#input:after{
		width:42px;
	}
}

@media (min-width: 600px) and (max-width: 800px){
	.character{
		font-size: 48px;
	}
	.character,
	#input,
	#input:after{
		height:89px;
	}
	.character,
	#input:after{
		width:55px;
	}
}

@media (min-width: 800px){
	.character{
		font-size: 70px;
	}
	.character,
	#input,
	#input:after{
		height:121px;
	}
	.character,
	#input:after{
		width:75px;
	}
}

#result{
	position:fixed;
	top:50%;
	left:50%;
	width:260px;
	height:100px;
	padding:20px;
	margin-left: -130px;
	margin-top: -50px;
	display: none;
	background: #FFF;
	animation: bounceInDown 0.5s;
	-webkit-animation: bounceInDown 0.5s;
}

#your-points,
#your-rank{
	color:#468966;
}

#leaderboard{
	height:60%;
	overflow-y:auto;
}

#bottom-menu{
	position: fixed;
	bottom: 0px;
	width:100%;
	height:80px;
	text-align: center
}

#select-level{
	margin-right: 20px;
}

#multiplay-game{
	width:100%;
	height:100%;
	display: none;
}

#mygame{
	width:49%;
	height:99%;
	border: 1px solid black;
	display: inline-block;
}

#clients{
	width:49%;
	height:100%;
	display: inline-block;
}

.player{
	width:100%;
	height:33%;
	border: 1px solid black;
}

#anagram{
	color:#468966;
	display: none;
	position: absolute;
	top:20%;
	left:30%;
}